Repository hapibir/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

👷 Setup Renovate bot config
  renovate.json
Due: none

👷 Setup Github Action
  .github/workflows/ci.yml
  app/firebase/.gitignore
  app/firebase/index.ts
Due: prettier --write, eslint --fix

👷 Fix env variables setting for Github Action
  .github/workflows/ci.yml
Due: prettier --write

🐛 Fix about environment variables
  app/components/Auth/LoginButton.vue
  app/pages/index.vue
  app/pages/login.vue
  app/plugins/firebase.ts
  nuxt.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

⬆️ Lock file maintenance
  yarn.lock
Due: none

➕ Add nuxt-typed-vuex
  app/types/index.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix

✨ Add firebase authetication
  .eslintrc
  app/components/Auth/LoginButton.vue
  app/pages/login.vue
  app/plugins/firebase.ts
  app/store/.eslintrc
  app/store/index.ts
  nuxt.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

✨ Fetch data from local graphql server
  app/assets/const.scss
  app/components/Auth/LoginButton.vue
  app/plugins/firebase.ts
  app/store/index.ts
  app/types/index.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

✨ Add login flow
  .eslintrc
  app/app.html
  app/assets/const.scss
  app/components/SideNav/SideNav.vue
  app/components/SideNav/UserInfoBlock.vue
  app/layouts/app.vue
  app/layouts/default.vue
  app/middleware/authenticated.ts
  app/middleware/login.ts
  app/middleware/register.ts
  app/pages/home.vue
  app/pages/login.vue
  app/plugins/firebase.ts
  app/plugins/localStorage.ts
  app/store/index.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

🚧 Add User info block wip
  app/assets/const.scss
  app/components/SideNav/SideNav.vue
  app/components/SideNav/UserInfoBlock.vue
  app/plugins/firebase.ts
  app/store/index.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

✨ Add Twitter link to user info block
  app/components/SideNav/UserInfoBlock.vue
  app/plugins/firebase.ts
  app/plugins/localStorage.ts
  app/store/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

🚧 Add calendar component
  app/assets/const.scss
  app/components/Calendar/Calendar.vue
  app/components/Calendar/CalendarBlock.vue
  app/pages/home.vue
Due: prettier --write, eslint --fix, stylelint --fix

🚧 Create user page wip
  app/assets/const.scss
  app/components/SideNav/SideNav.vue
  app/components/SideNav/UserInfoBlock.vue
  app/components/UserCard/Header.vue
  app/components/UserCard/Section.vue
  app/components/UserCard/UserCard.vue
  app/layouts/app.vue
  app/pages/users/_screenName.vue
  app/plugins/firebase.ts
  app/types/index.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

⬆️ Update dependency @nuxtjs/eslint-config-typescript to v1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

➕ Add nuxt-i18n
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🔧 Setup i18n
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix

✨ Add menu column
  app/components/SideNav/MenuColumn.vue
  app/components/SideNav/SideNav.vue
Due: prettier --write, eslint --fix, stylelint --fix

🔥 Remove birthday remind day in nav user info block
  app/components/SideNav/UserInfoBlock.vue
Due: prettier --write, eslint --fix, stylelint --fix

👍 Fetch id from database
  app/plugins/firebase.ts
  app/store/index.ts
Due: prettier --write, eslint --fix

✨ Add updating icon in settings
  app/pages/settings.vue
  app/plugins/firebase.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

⬆️ Update dependency @nuxtjs/apollo to ^4.0.0-rc9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @nuxt/typescript-runtime to ^0.3.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @nuxt/typescript-build to ^0.5.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @kazupon/vue-i18n-loader to ^0.5.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency husky to v4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency stylelint to v13
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (((((any of: package.json) or (any of: *[!package].json)) or (any of: *.html)) or (any of: *.{js,ts})) or (any of: *.vue)) or (any of: *.yml)
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  stylelint --fix: any of: *.vue
